[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "External/nativefiledialog"]
	path = External/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
